<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <div th:replace="common/links::header"></div>
    <div th:replace="common/script::js_footer"></div>
    <script th:src="@{/js/common/verify.js}"></script>
    <script type="text/javascript" src="/js/layui/lay/modules/laydate.js"></script>
</head>
<body class="form-body">
<form class="layui-form ">
    <div class="layui-form-item layui-col-md6 layui-col-md-offset2">
        <label class="layui-form-label">企业名称</label>
        <div class="layui-input-inline form-length350">
            <input type="text" name="corpName" lay-verify="required"
                   placeholder="请输入企业名称" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux"><font color="red" size="5">*</font></div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">法人</label>
        <div class="layui-input-inline">
            <input type="text" name="legalPerson" lay-verify="required" lay-verType="tips"
                   placeholder="请输入法人" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux"><font color="red" size="5">*</font></div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">联系电话</label>
        <div class="layui-input-inline">
            <input type="text" name="corpTel" lay-verify="required" placeholder="请输入联系电话"
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux"><font color="red" size="5">*</font></div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">其他联系人</label>
        <div class="layui-input-inline">
            <input type="text" name="otherLinkman" placeholder="请输入其他联系人"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">其他联系人电话</label>
        <div class="layui-input-inline">
            <input type="text" name="linkmanPhone" placeholder="请输入其他联系人电话"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">地址</label>
        <div class="layui-input-inline">
            <input type="text" name="address" lay-verify="required" placeholder="请输入地址"
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux"><font color="red" size="5">*</font></div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">注册时间</label>
        <div class="layui-input-inline">
            <input type="text" name="registrationTime" placeholder="请输入注册时间"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">注册资金</label>
        <div class="layui-input-inline">
            <input type="text" name="registrationCapital" placeholder="请输入注册资金"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">网址</label>
        <div class="layui-input-inline">
            <input type="text" name="webUrl" placeholder="请输入网址"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">客户状态</label>
        <div class="layui-input-inline">
            <select name="customerStatus">
                <option value="">请选择</option>
                <option value="1">意向客户</option>
                <option value="2">重点客户</option>
                <option value="3">公海客户</option>
                <option value="4">合作客户</option>
                <option value="5">保护客户</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">回访日期</label>
        <div class="layui-inline">
            <input type="text" class="layui-input" name="visitDate" id="visitDate">
        </div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-inline">
            <textarea name="remarks" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>


    <!--  <div class="layui-form-item">
          <div class="layui-col-md4 layui-col-md-offset2">
              <label class="layui-form-label">头像</label>
              <div class="layui-input-inline">
                  <button type="button" class="layui-btn" id="test1">
                      <i class="layui-icon">&#xe67c;</i>上传图片
                  </button>
                  <input type="hidden" id="photo" name="photo" value="">
              </div>
          </div>
      </div>-->
    <div class="layui-form-item layui-col-md-offset5">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="add" type="button">立即提交</button>
            <button id="closeBtn" type="button" class="layui-btn layui-btn-primary">取消</button>
        </div>
    </div>
</form>
<!--<script type="text/javascript" src="/js/layui/layui.all.js"></script>-->
<script th:inline="javascript">
    layui.use('form', function () {
        var form = layui.form, $ = layui.jquery;
        // Common.uploadFile('#test1', upload, function (data) {
        //     $("#photo").val(data);
        //     $("#previewPhoto img").attr("src", defaultImageViewPath + data);
        // }, {category: 'photo'});

        // 监听提交
        form.on('submit(add)', function (data) {
            Common.ajaxFormSubmit('/customer/insert', data.field, function (data) {
                layer.msg(data.msg, {icon: 6, time: 100}, function () {
                    Common.closeFrame();
                });
            });
            return false;
        });

        $("#closeBtn").on('click', function () {
            Common.closeFrame();
        });

        // 初始化日期组件
        var laydate = layui.laydate;
        laydate.render({
            elem: '#visitDate'
        });

        form.render();
    });
</script>
</body>
</html>