<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <div th:replace="common/links::header"></div>
    <div th:replace="common/script::js_footer"></div>
    <!--<script th:src="@{/js/common/verify.js}"></script>-->
</head>
<body class="form-body">
<form class="layui-form ">
    <div class="layui-form-item layui-col-md6 layui-col-md-offset2">
        <label class="layui-form-label">客户名称</label>
        <div class="layui-input-inline form-length350">
            <input type="text" name="name" lay-verify="required|username"
                   placeholder="请输入客户名称" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">*6-12个字符</div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">客户编号</label>
        <div class="layui-input-inline">
            <input type="text" name="number" lay-verify="required|number" lay-verType="tips"
                   placeholder="请输入客户编号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">联系电话</label>
        <div class="layui-input-inline">
            <input type="text" name="phone" lay-verify="required|phone" placeholder="请输入联系电话"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">公司电话</label>
        <div class="layui-input-inline">
            <input type="text" name="corpTel" lay-verify="required|number" placeholder="请输入公司电话"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-inline">
            <input type="text" name="mail" lay-verify="required" placeholder="请输入邮箱"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">通讯地址</label>
        <div class="layui-input-inline">
            <input type="text" name="address" lay-verify="required" placeholder="请输入通讯地址"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">客户类型</label>
        <div class="layui-input-inline">
            <select name="type" lay-verify="required">
                <option value="">请选择</option>
                <option value="0">意向客户</option>
                <option value="1">签单客户</option>
                <option value="2">公海客户</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">客户级别</label>
        <div class="layui-input-inline">
            <input type="text" name="corpGrade" lay-verify="required" placeholder="请输入客户级别"
                   autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">联系人</label>
        <div class="layui-input-inline">
            <input type="text" name="linkman" lay-verify="required" placeholder="请输入联系人"
                   autocomplete="off" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-col-md4 layui-col-md-offset2">
            <label class="layui-form-label">头像</label>
            <div class="layui-input-inline">
                <button type="button" class="layui-btn" id="test1">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
                <input type="hidden" id="photo" name="photo" value="">
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-col-md-offset5">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="add">立即提交</button>
            <button id="closeBtn" type="button" class="layui-btn layui-btn-primary">取消</button>
        </div>
    </div>
</form>
<script type="text/javascript" src="/js/layui/layui.all.js"></script>
<script type="text/javascript" src="/js/common/common.js"></script>
<script th:inline="javascript">
    layui.use('form', function () {
        var form = layui.form, $ = layui.jquery;
        form.render();
        // Common.uploadFile('#test1', upload, function (data) {
        //     $("#photo").val(data);
        //     $("#previewPhoto img").attr("src", defaultImageViewPath + data);
        // }, {category: 'photo'});

        // 监听提交
        form.on('submit(add)', function (data) {
            alert(1);
            Common.ajaxFormSubmit('/sys/user/save-or-update', data.field, function (data) {
                layer.msg(data.msg, {icon: 6}, function () {
                    Common.closeFrame();
                });
            });
            return false;
        });

        $("#closeBtn").on('click', function () {
            Common.closeFrame();
        });
    });
</script>
</body>
</html>