<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <div th:replace="common/links::header"></div>
    <div th:replace="common/script::js_footer"></div>
    <script th:src="@{/js/common/verify.js}"></script>
    <script type="text/javascript" src="/js/layui/lay/modules/laydate.js"></script>
</head>
<body class="form-body">
<form class="layui-form ">
    <input type="hidden" name="customerId" lay-verify="required|number" lay-verType="tips"
           th:value="${customerDetail.customerId}" autocomplete="off" class="layui-input">
    <div class="layui-form-item layui-col-md6 layui-col-md-offset2">
        <label class="layui-form-label">企业名称</label>
        <div class="layui-input-inline form-length350">
            <input type="text" name="corpName" lay-verify="required"
                   th:value="${customerDetail.corpName}" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">法人</label>
        <div class="layui-input-inline">
            <input type="text" name="legalPerson" lay-verify="required" lay-verType="tips"
                   th:value="${customerDetail.legalPerson}" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">联系电话</label>
        <div class="layui-input-inline">
            <input type="text" name="corpTel" lay-verify="required" th:value="${customerDetail.corpTel}"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">其他联系人</label>
        <div class="layui-input-inline">
            <input type="text" name="otherLinkman"
                   th:value="${customerDetail.otherLinkman}"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">其他联系人电话</label>
        <div class="layui-input-inline">
            <input type="text" name="linkmanPhone" th:value="${customerDetail.linkmanPhone}"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">地址</label>
        <div class="layui-input-inline">
            <input type="text" name="address" th:value="${customerDetail.address}"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">注册时间</label>
        <div class="layui-input-inline">
            <input type="text" name="registrationTime"
                   th:value="${customerDetail.registrationTime}"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">注册资金</label>
        <div class="layui-input-inline">
            <input type="text" name="registrationCapital"
                   th:value="${customerDetail.registrationCapital}"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">网址</label>
        <div class="layui-input-inline">
            <input type="text" name="webUrl" lay-verify="required" th:value="${customerDetail.webUrl}"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">客户状态</label>
        <div class="layui-input-inline">
            <select name="customerStatus" id="customerStatus">
                <option value="">请选择</option>
                <option value="0">意向客户</option>
                <option value="1">重点客户</option>
                <option value="2">公海客户</option>
                <option value="3">合作客户</option>
                <option value="4">保护客户</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">回访日期</label>
        <div class="layui-inline">
            <input type="text" class="layui-input" name="visitDate" id="visitDate"
                   th:value="${customerDetail.visitDate}">
        </div>
    </div>
    <div class="layui-form-item layui-col-md4 layui-col-md-offset2">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-inline">
            <textarea name="remarks" placeholder="请输入内容" class="layui-textarea"
                      th:text="${customerDetail.remarks}"> </textarea>
        </div>
    </div>

    <div class="layui-form-item layui-col-md-offset5">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="update" type="button">立即更新</button>
            <button id="closeBtn" type="button" class="layui-btn layui-btn-primary">取消</button>
        </div>
    </div>
</form>
<!--<script type="text/javascript" src="/js/layui/layui.all.js"></script>-->
<script th:inline="javascript">
    layui.use('form', function () {
        var form = layui.form, $ = layui.jquery;
        // Common.uploadFile('#test1', upload, function (data) {
        //     $("#photo").val(data);
        //     $("#previewPhoto img").attr("src", defaultImageViewPath + data);
        // }, {category: 'photo'});

        // 监听提交
        form.on('submit(update)', function (data) {
            console.log(data);
            Common.ajaxFormSubmit('/customer/update', data.field, function (data) {
                layer.msg(data.msg, {icon: 6, time: 100}, function () {
                    Common.closeFrame();
                });
            });
            return false;
        });

        $("#closeBtn").on('click', function () {
            Common.closeFrame();
        });

        // 初始化日期组件
        var laydate = layui.laydate;
        laydate.render({
            elem: '#visitDate'
        });

        // 控制下拉框的值
        if (Object.keys([[${customerDetail.customerStatus}]]).length != 0) {
            $("#customerStatus option[value=" + [[${customerDetail.customerStatus}]] + "]").prop("selected", true);
        }

        form.render();
    });
</script>
</body>
</html>